<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../css/styles.css" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div id="top">
		<div id="header"></div>
	</div>
	<div id="logo"></div>
	<div class="container">
		<div class="navbar">
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="amphibians/index.html">Amphibians</a></li>
				<li><a href="mammals/index.html">Mammals</a></li>
				<li><a href="reptiles/index.html">Reptiles</a></li>
				<li><a href="accessories/index.html">Accessories</a></li>
				<li><a href="about-us.html">About Us</a></li>
				<li><a href="contact-us.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="page-content group">
			<div class="row">
				<div class="col-12 page-header">
					<h1>About Us</h1>
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="module box-about-us">
						<img src="../img/site/about-us.jpg" alt="the shop" />
						<h3>We Love the Exotic!</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div class="col-12">
							<div class="module box-staff-info">
								<img src="../img/site/reptile-guys.jpg" alt="Larry and Lenny" />
								<h4>Larry and Lenny</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="module box-staff-info">
								<img src="../img/site/big-cat-lady.jpg" alt="Kelly" />
								<h4>Kelly</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				<span>Copyright &copy;</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>